<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!--Hojas de estilos-->
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {%block header%}
        <div id="header">
            <h2>Gestor de Tareas</h2>
                <div id="menu">
                    <ul>
                        <li><a href="{{ path('task') }}">Inicio</a></li>
                        <li><a href="">Mis Tareas</a></li>
                        <!--Verificación user autenticado-->
                        {% if app.user %}
                            <li><a href="{{ path('logout') }}">Cerrar Sesión</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Login</a></li>
                            <li><a href="{{ path('register') }}">Registro</a></li>
                        {% endif %}
                    </ul>
                </div>
        </div>
        <div class="clearfix"></div>
        {%endblock%}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
